
#lightbox {
  position: absolute;
  top: 0;
  left: 50%;
  width: 75%;
  margin-left: -38vw;
  background: #fff;
  color: #000;
  z-index: 1001;
  display: none;
}
#lightbox p {
  padding: 10%;
  color: #000;
}
#lightbox-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 1000;
  display: none;
}
