/*
Created on : April 22, 2014, 2:52:38 PM
Author : Caleb Albers
*/

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://themes.googleusercontent.com/static/fonts/muli/v5/kU4XYdV4jtS72BIidPtqyw.woff) format('woff');
}

body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Muli', sans-serif;
}
body {
  
    background-color: #c6c8ca;
   //background-image: url(images/fallback-gradient.png);
   position:relative;
   top:0;
   bottom:0;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#c6c8ca));
   background-image: -webkit-linear-gradient(top, #ffffff, #c6c8ca);
   background-image: -moz-linear-gradient(top, #ffffff, #c6c8ca);
   background-image: -ms-linear-gradient(top, #ffffff, #c6c8ca);
   background-image: -o-linear-gradient(top, #ffffff, #c6c8ca);
   background-repeat: no-repeat;
   background-size: 100%;
    
}
 div, li, h1, h2, h3, h4, td, input, select, textarea {
    font-size: 38px;
    color: #6c9c31;
}
p, b {
    font-size: 16px;
    color: #ffffff;
}
#wrapper {
    width: 65%;
    min-width: 600px;
    margin: 0 auto;
    align: center;
}
#header {
    padding-top: 8%;
}
#logo {
    float: left;
}
#title {
    padding-top: 60px;
    text-align: right;
    float: right;
}
#seperator {
    margin-top: 115px;
    height: 4px;
    background-color: #a6a8ab;
    border: none;
}
#codeinput {
    margin: 5% auto 0px;
    padding: 15px;
    width: 96%;
    text-align: center;
    box-shadow: 15px #000000;
    background-color: #b4b6b8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
a {
    text-decoration: none;
    color: #6c9c31;
}
a:hover {
    color: #000;
}
#span {
    font-size: 22px;
    font-weight: normal;
    background-color: #313131;
    width: 100;
}
#codeinput p {
    margin-bottom: 10px;
    height: auto;
}
#file_upload {
    display: inline-block;
    width: 65%;
    height: 360px;
}
#file_list_container {
    display: inline-block;
    width: 32%;
}
#file_list {
    overflow-y: scroll;
    background-color: #aeb0b2;
    align: right;
    height: 320px;
    border: 1px solid rgba(0,0,0,0.03);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#file_list_container p {
    color: #000;
    font-weight: bold;
    font-size: 28px;
    padding: 5px 0;
}
.file_row {
    width: 100%;
    border-bottom: 1px solid #313131;
    text-align: left;
    height: 38px;
}
.file_row a {
    width: 80%
    display: inline;
    font-size: 16px;
    color: #313131;
    padding-left: 15px;
    margin-bottom: 10px;
    font-style: italic;
}
.file_row a:hover {
    color: #6c9c31;
}
.btn {
    display: inline;
    float: right;
    width: 20%;
    margin: 8px 5px 0;
}
